.git
.github
.gitignore
.idea
.vscode
.DS_Store
Thumbs.db

.env
data
*.db
*.db-*

*.exe
*.dll
*.so
*.dylib
*.app
dist
vendor

README.md
LICENSE
PhraseMate.ico
docker-compose.yml
Dockerfile
.dockerignore
